.navbar {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;

}

#navName {
    font-size: 30px;
}

.navbar:hover {
    color: gold;
}